<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Автотехцентр</title>
</head>
<body>

    <header>
        <div>LOGO</div>

        <nav>

            {% if user.is_authenticated %}

            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button>Выход</button>
            </form>


            {% else %}

            <a href="/accounts/login">Вход</a>

            {% endif %}


        </nav>

    </header>

    <main>{% block content %}{% endblock content %}</main>

    <footer>Подвал сайта 2026 год</footer>
</body>
</html>